$white: #fff;
$lightGrey: #efefef;
$mediumLightGrey: #9f9f9f;
$mediumGrey: #808080;
$black: #000;
$darkBlue: #084a93;
$mediumDarkBlue: #086b9d;
$mediumBlue: #0893c8;
$lightBlue: #BFD7EA;
$backgroundBlue: #eaf6ff;
$mediumLightGreen: #259A22;
$mediumGreen: #1f7b1d;
$lightRed: #FF5A5F;
$mediumRed: #C81D25;
$darkRed: #711115;