@import "../variables";
@import "../ui";

.c-message {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    @extend .ui-shadow-light;
}

.c-message--header {
    padding-bottom: 5px;
    border-bottom: 1px solid $lightGrey;
}

.c-message--date-time {
    float: right;
}

.c-message--content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c-message--controls{
    border-top: 1px solid $lightGrey;
    padding-top: 5px;
    text-align: right;
}

.c-message--control{
    //float: right;
    margin-left: 5px;
}

.c-message--likes {
    margin-left: 5px;
}